@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
body {
    background-color: black;
    text-align: center;
}
img {
    width: 100vw;
}
a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: darkred;
    padding: 10px;
    font-weight: bolder;
    transition-duration: 0.5s;
}
a:hover {
    background-color: green;
}
